<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{url_for('static', filename='index.css')}}"/>
    <link rel="stylesheet" href="{{url_for('static', filename='users.css')}}"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{ url_for('static', filename='jquery.js') }}" type="text/javascript"></script>
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
    <nav id="nav-user">
        <a id="posts" href="/">HOME</a>
    </nav>
    {% block content %}{% endblock %}
  
    <script type="" src="{{url_for('static', filename='index.js')}}"></script>
    
</body>
</html>