<div id="entete">
    <div id="buttons">
        <button id="add_user" class="bcont">ADD USER</button>
        <button id="load_user" class="bcont">LOAD USER</button>
    </div>
    <input type="number" name="" id="nombre">
</div>
<div id="adduser">
    <div id="tete">CONNECT</div>
    <div id="newuser">
    
    <form id="formulaire" method="post">
        <div class="part">
            <label for="CON_EMAIL"><H3>EMAIL</H3></label>
            <input id="CON_EMAIL" type="text">
            <label for="CON_PASSWORD"><H3>PASSWORD</H3></label>
            <input id="CON_PASSWORD" type="text">
            
        </div>  
        
        
        
    </form>
    
    </div>
    <button type="submit" id="valider">LOGIN</button>
</div>        
