<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='users.css')}}"/>
    <script src="{{ url_for('static', filename='jquery.js') }}" type="text/javascript"></script>
    <title>{% block title %} {% endblock %}</title>
</head>

<body>
    <nav id="nav-user">
        <a id="posts" href="/posts">POSTS</a>
        <a id="albums" href="/albums">ALBUMS</a>
        <a id="todos" href="/todos">TODOS</a>
        <a id="infos" href="/infos">INFOS</a>
    </nav>
    {% block content %}{% endblock %}
    <script type="" src="{{url_for('static', filename='users.js')}}"></script>
</body>

</html>