{% extends "index.html" %}  {% block title %}
info users {% endblock %} {% block content %}
<div id="central">
<form class="formx">
    <div class="box_image">
        <h1 class="btx_btx">
           INFOS UTILISATEURS
        </h1>
    </div>
    <div class="form__fields">
        <input type="password" class="form-field text-field" placeholder="id"/>   
        <input type="password" class="form-field text-field" placeholder="name"/>   
        <input type="password" class="form-field text-field" placeholder="Username"/>   
        <input type="password" class="form-field text-field" placeholder="email"/>   
        <input type="password" class="form-field text-field" placeholder="phone"/>   
        <input type="password" class="form-field text-field" placeholder="website"/>   
        <input type="password" class="form-field text-field" placeholder="street"/>   
        <input type="password" class="form-field text-field" placeholder="suite"/>   
        <input type="password" class="form-field text-field" placeholder="city"/>   
        <input type="password" class="form-field text-field" placeholder="zipcode"/>   
        <input type="password" class="form-field text-field" placeholder="long"/>   
        <input type="password" class="form-field text-field" placeholder="lat"/>   
        <input type="password" class="form-field text-field" placeholder="name company"/> 
        <input type="password" class="form-field text-field" placeholder="catchPhrase"/>
        <input type="password" class="form-field text-field" placeholder="bs"/>         
        <a href="#" class="buttox">SUBMIT</a>
    </div>
</form>

</div>
<iframe class="map" , src="/map" width="800" height="700"  float="right"></iframe>
    
{% endblock %}