
<div id="corps">
    <table>
        <tr>
            <td id="ID">ID</td>
            <td id="NAME">NAME</td>
            <td id="USERNAME">USERNAME</td>
            <td id="EMAIL">sudo@EMAIL.com</td>
            <td id="PHONE">77 777 77 77</td>
            <td id="WEBSITE">www.WEBSITE.com</td>
        </tr>
        <tr>
            <td id="ID">ID</td>
            <td id="NAME">NAME</td>
            <td id="USERNAME">USERNAME</td>
            <td id="EMAIL">sudo@EMAIL.com</td>
            <td id="PHONE">77 777 77 77</td>
            <td id="WEBSITE">www.WEBSITE.com</td>
        </tr>
        <tr>
            <td id="ID">ID</td>
            <td id="NAME">NAME</td>
            <td id="USERNAME">USERNAME</td>
            <td id="EMAIL">sudo@EMAIL.com</td>
            <td id="PHONE">77 777 77 77</td>
            <td id="WEBSITE">www.WEBSITE.com</td>
        </tr>
        <tr>
            <td id="ID">ID</td>
            <td id="NAME">NAME</td>
            <td id="USERNAME">USERNAME</td>
            <td id="EMAIL">sudo@EMAIL.com</td>
            <td id="PHONE">77 777 77 77</td>
            <td id="WEBSITE">www.WEBSITE.com</td>
        </tr>
        <tr>
            <td id="ID">ID</td>
            <td id="NAME">NAME</td>
            <td id="USERNAME">USERNAME</td>
            <td id="EMAIL">sudo@EMAIL.com</td>
            <td id="PHONE">77 777 77 77</td>
            <td id="WEBSITE">www.WEBSITE.com</td>
        </tr>
    </table>
    <div class="pagination">
        <a href="#">&laquo;</a>
        <a href="#" class="active" >1</a>
        <a href="#">2</a>
        <a href="#">3</a>
        <a href="#">4</a>
        <a href="#">5</a>
        <a href="#">6</a>
        <a href="#">&raquo;</a>
      </div>
</div>