{% extends "index.html" %}  {% block title %}
newalbum{% endblock %} {% block content %}
<div id="center">
<form class="form">
    <div class="form__image-box">
        <h1 class="form__image-box__heading">
            NOUVEAU ALBUM
        </h1>
    </div>
    <div class="form__fields">
        <h3 class="form__fields__heading">
            TITLE
        </h3>
        <input type="text" class="form-field text-field", name="title" />    
        <a href="#" class="bton">SUBMIT</a>
    </div>
</form>
</div>

    
{% endblock %}