{% extends "index.html" %}  {% block title %}
newpost{% endblock %} {% block content %}
<div id="center">
<form class="form">
    <div class="form__image-box">
    
        <h1 class="form__image-box__heading">
            CONNECT
        
        </h1>
    </div>

    <div class="form__fields">
        
        <h3 class="form__fields__heading">
            TITLE
        </h3>
        <input type="email" class="form-field text-field" />    
        <h3 class="form__fields__heading">
            BODY
        </h3>

        <input type="password" class="form-field text-field" />    
        <a href="#" class="btn">SUBMIT</a>

    </div>
</form>
</div>

    
{% endblock %}