<div id="entete">
    <div id="buttons">
        <button id="add_user" class="bcont">ADD USER</button>
        <button id="load_user" class="bcont">LOAD USER</button>
    </div>
    <input type="number" name="" id="nombre">
</div>
<div id="adduser">
    <div id="tete">NEW USER</div>
    <div id="newuser">
    
    <form id="formulaire" method="post">
        <div class="part">
            <h1>Informations personnelles</h1>
            <label for="UNAME">NAME</label>
            <input id="UNAME" type="text">
            <label for="USERNAMEFORM">USERNAME</label>
            <input id="USERNAMEFORM" type="text">
            <label for="PASSWORDFORM">PASSWORD</label>
            <input id="PASSWORDFORM" type="text">
            <label for="EMAILFORM">EMAIL</label>
            <input id="EMAILFORM" type="email">
            <label for="PHONEFORM">PHONE</label>
            <input id="PHONEFORM" type="number">
            <label for="WEBSITEFORM">WEBSITE</label>
            <input id="WEBSITEFORM" type="text">
        </div>
        <div class="part">
            <h1>Address</h1>

            <label for="STREET">STREET</label>
            <input id="STREET" type="text">
            <label for="SUITE">SUITE</label>
            <input id="SUITE" type="text">
            <label for="CITY">CITY</label>
            <input id="CITY" type="text">
            <label for="ZIPCODE">ZIPCODE</label>
            <input id="ZIPCODE" type="number">
            <label for="LAT">LAT</label>
            <input id="LAT" type="number">
            <label for="LON">LON</label>
            <input id="LON" type="number">
        </div>    
        <div class="part">
            <h1>Company</h1>

            <label for="COMNAME">NAME</label>
            <input id="COMNAME" type="text">
            <label for="CATCHPHRASE">CATCHPHRASE</label>
            <input id="CATCHPHRASE" type="text">
            <label for="BS">BS</label>
            <input id="BS" type="text">
            
        </div>
        
        
    </form>
    
    </div>
    <button type="submit" id="valider">SUBMIT</button>
</div>