{% extends "index.html" %}
<table>
        <td id="ID">ID</td>
        <td id="NAME">NAME</td>
        <td id="USERNAME">USERNAME</td>
        <td id="EMAIL">sudo@EMAIL.com</td>
        <td id="PHONE">77 777 77 77</td>
        <td id="WEBSITE">www.WEBSITE.com</td>
</table>        

    
<tr>
    <td id="ID">ID</td>
    <td id="NAME">NAME</td>
    <td id="USERNAME">USERNAME</td>
    <td id="EMAIL">sudo@EMAIL.com</td>
    <td id="PHONE">77 777 77 77</td>
    <td id="WEBSITE">www.WEBSITE.com</td>
</tr>
<tr>
    <td id="ID">ID</td>
    <td id="NAME">NAME</td>
    <td id="USERNAME">USERNAME</td>
    <td id="EMAIL">sudo@EMAIL.com</td>
    <td id="PHONE">77 777 77 77</td>
    <td id="WEBSITE">www.WEBSITE.com</td>
</tr>
<tr>
    <td id="ID">ID</td>
    <td id="NAME">NAME</td>
    <td id="USERNAME">USERNAME</td>
    <td id="EMAIL">sudo@EMAIL.com</td>
    <td id="PHONE">77 777 77 77</td>
    <td id="WEBSITE">www.WEBSITE.com</td>
</tr>
<tr>
    <td id="ID">ID</td>
    <td id="NAME">NAME</td>
    <td id="USERNAME">USERNAME</td>
    <td id="EMAIL">sudo@EMAIL.com</td>
    <td id="PHONE">77 777 77 77</td>
    <td id="WEBSITE">www.WEBSITE.com</td>
</tr>
</table>