{% extends "index.html" %}  {% block title %}
photos {% endblock %} {% block content %}
<div id="center">
<form class="form">
    <div class="form__image-box">
        <h1 class="form__image-box__heading">
            ALBUM TITRE
        </h1>
    </div>
    <div class="form__fields">
        <h3 class="form__fields__heading">
            LOAD PHOTO
        </h3>
        <input type="password" class="form-field text-field" />    
        <a href="#" class="bton">SUBMIT</a>
        <ul class="cotof">
            <li class="pof"></li>
            <li class="pof"></li>
            <li class="pof"></li>
        </ul>
    </div>
</form>
</div>

    
{% endblock %}