{% extends "index.html" %}  {% block title %} post title {% endblock %} 
<br>
{% block content %}
   <div class="yop">
       <header class="head_post">POST TITLE</header>
       <section class="sec_post">
           <div class="name">
               <p class="naa">name</p>
               <textarea>body</textarea>
           </div>
           <div class="name">
            <p class="naa">name</p>
            <textarea>body</textarea>
        </div>
        <div class="name">
            <p class="naa">name</p>
            <textarea>body</textarea>
        </div>
        <br/>
        <button class="submitt">submit</button>
       </section>
   </div>
{% endblock %}