{% extends "index.html" %}  {% block title %} post title {% endblock %} 
<br>
{% block content %}
<div class="HUGE">
<div class="bigcontainer b1">
   <div class="container whole">
       <header class="head_post h lo">A FAIRE</header>
       <section class="sec_post sec sok">
           <div class="name n bit an">
               <p class="naa na">name</p>
               <textarea class="t"></textarea>
           </div>
           <div class="name n no an">
            <p class="naa na">name</p>
            <textarea class="t"></textarea>
        </div>
        <div class="name n no an">
            <p class="naa na">name</p>
            <textarea class="t"></textarea>
        </div>
        <br/>
        
       </section>
   </div>
   <br>
   <div class="bigcontainer b2">
    <div class="container">
        <header class="head_post h l1">EN COURS</header>
        <section class="sec_post sec">
            <div class="name n">
                <p class="naa na">name</p>
                <textarea class="t"></textarea>
            </div>
            <div class="name n">
             <p class="naa na">name</p>
             <textarea class="t"></textarea>
         </div>
         <div class="name n">
             <p class="naa na">name</p>
             <textarea class="t"></textarea>
         </div>
         <br/>
         
        </section>
    </div>
    <br>
    <div class="bigcontainer b3">
        <div class="container">
            <header class="head_post h l2">TERMINÉE</header>
            <section class="sec_post sec">
                <div class="name n">
                    <p class="naa na">name</p>
                    <textarea class="t"></textarea>
                </div>
                <div class="name n">
                 <p class="naa na">name</p>
                 <textarea class="t"></textarea>
             </div>
             <div class="name n">
                 <p class="naa na">name</p>
                 <textarea class="t"></textarea>
             </div>
             <br/>
             
            </section>
        </div>
</div>
<button class="sub">SUBMIT</button>
</div>
{% endblock %}